<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.RSF.woodyplants" android:versionName="1.1" android:versionCode="4">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="WoodyPlants.Droid" android:icon="@drawable/icon"></application>
</manifest>