<!DOCTYPE html>

<style>
    body {
        color: white;
        font-family:sans-serif;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(30, 77, 43, .5);
        font-family:sans-serif;
    }

    h1 {
        font-size: 1em;
        font-family:sans-serif;
    }

    #header {
        text-align: center;
        font-family:sans-serif;
    }

    .section_header { font-weight: bold; border-bottom: 1px solid white; margin: 10px 0; font-family:sans-serif; }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div class="section_header">About the Woody Plant App</div>
        <p>The Woody Plant App for Colorado highlights the native - and a few invasive – woody plant species you might come across while traveling across Colorado. A woody plant is defined as a perennial plant that has a woody structure that persists throughout all seasons of the year. Trees, shrubs, cacti, and some vines are classified as woody plants. Woody plants, especially trees and shrubs comprise the majority of the 200+ species of woody plants found across Colorado. Since our focus is on native species, our assumption is that the App will be used in areas where cell phone data is not available.  Therefore, we suggest downloading all the photos to the App where you have a good Wi-Fi signal so that you may use the App directly in the field without requiring data.</p>

        <p>This App is designed with the novice in mind, which is why the initial button is “Id Plants by Characteristics.”  This takes you to a series of button choices based on what you observe with the respective plant and does not require reproductive parts for identification.  Since we are a university and our primary goal is education, you will find botanical descriptions and scientific names followed by the common descriptions. Also, we wanted to make this App available to everyone, so we’ve made it available for free with the hopes that you will become more familiar with what Colorado State University has to offer in the natural resource careers. </p>

        <p>The goal is to have only a few plants displayed once you move through the identification by characteristics process. From there you can click on each result, which shows plant specific characteristics and locations throughout the state. It includes the elevational range, map, and other key identification attributes that should help the user determine whether what they are observing matches the description on the App.</p>

        <p>For those who are more botanically inclined the second button that allows you to search by family or species along with other characteristics.  Regardless of your botany knowledge, the App allows you to save those species you designate as “favorites,” so you can go directly to them once entering the App.</p>

        <p>Finally, this App has been designed through the partnership of numerous Colorado State University Natural Resource College, units, departments, and agencies.  We invite you to check out each of our unique missions and potential career paths or educational opportunities we offer across the state.</p>
    </div>
</body>
</html>