<!DOCTYPE html>

<style>
    body {
        color: white;
        font-family:sans-serif;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(30, 77, 43, .5);
        font-family:sans-serif;
    }

    h1 {
        font-size: 1em;
        font-family:sans-serif;
    }

    #header {
        text-align: center;
        font-family:sans-serif;
    }

    .section_header { font-weight: bold; border-bottom: 1px solid white; margin: 10px 0; font-family:sans-serif; }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div class="section_header">About the Woody Plant App</div>
        <p>
            The Woody Plant App for Colorado highlights the native - and a few invasive – woody plant species you
            might come across while traveling across Colorado. Learning to identify plants in open spaces,
            wilderness areas, and even your own backyard is exciting and connects you to our rich natural heritage.
            Knowing a plant’s name and characteristics is a gateway into learning more about its ecology,
            importance to humans and wildlife, and conservation practices to promote biodiversity.
        </p>
        <p>
            A woody plant is defined as a perennial plant that has a woody structure that persists throughout all
            seasons of the year. Trees, shrubs, cacti, and some vines are classified as woody plants. Trees and shrubs comprise the majority of the 200+ species of woody plants found across
            Colorado. 
        </p>

        <div class="section_header">Using the Woody Plant App</div>
        <p>
            Colorado State University developed this free App with novices in mind—people with no to little training in botany. We suggest downloading all the photos to the
            App where you have a good WiFi signal so that you may use the App directly in the field without requiring data (click on the “Download” button on the homepage).
        </p>
        <p>
            Use the initial button “Identify by Plant Characteristic.” to select icons that match characteristics of a plant you want to identify, such as the shape of its
            leaf to the color of its flower. The App will pull up a list of plants that match these characteristics. Click on an individual plant page for pictures, botanical descriptions, ecological information, and a map of the species’ range. 
        </p>

        <p>
            The App also allows you to search for plants by family or species and to designate plants species as “favorites”  by Clicking on the star on the upper left corner of the screen once you select a specific plant, and clicking on the “Favorites” tab on the home page to quickly access information about your favorite plants in the future.
        </p>
    
        <div class="section_header">For More Information</div>
        <p>
            Check out the “Links and Careers in Natural Resources” tab on the home page to learn more about natural resource career paths or educational opportunities offered by Colorado State University.
        </p>
</div>
</body>
</html>