<!DOCTYPE html>

<style>
    body {
        color: white;
        font-family:sans-serif;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(30, 77, 43, .5);
        font-family:sans-serif;
    }

    h1 {
        font-size: 1em;
        font-family:sans-serif;
    }

    #header {
        text-align: center;
        font-family:sans-serif;
    }

    .section_header { font-weight: bold; border-bottom: 1px solid white; margin: 10px 0; font-family:sans-serif; }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <p>How to use text...</p>
        <div class="section_header">SECTION</div>
        <p>Section text...</p>
    </div>
</body>
</html>