<!DOCTYPE html>

<style>
    body {
        color: white;
        font-family:sans-serif;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(30, 77, 43, .5);
        font-family:sans-serif;
    }

    h1 {
        font-size: 1em;
        font-family:sans-serif;
    }

    #header {
        text-align: center;
        font-family:sans-serif;
    }

    .section_header { font-weight: bold; border-bottom: 1px solid white; margin: 10px 0; font-family:sans-serif;}
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">

        <div class="section_header">Warner College of Natural Resources</div>
        <div style="text-align: center;">
            <a href="https://warnercnr.colostate.edu/">
                <img src="image4.png" width="200" />
            </a>
        </div>
            <p>
                The Warner College of Natural Resources is one of the largest and most comprehensive natural resource colleges in the nation.
                Offering students the opportunity to immerse themselves in their environmental fields of choice, Warner College is a leader in
                natural resources education, outreach, and research both in Colorado and around the world.
            </p>


            <div class="section_header">Colorado Natural Heritage Program (CNHP)</div>
            <div style="text-align: center;">
            <a href="http://www.cnhp.colostate.edu/">
                <img src="image6.png" width="200" />
            </a>
            </div>
            <p>
                The Colorado Natural Heritage Program is Colorado’s only comprehensive source of information on the status and location of Colorado’s rarest and most threatened species and plant communities. We share information with a wide range of stakeholders in partnerships that work to ensure the Colorado’s biodiversity resources are not diminished. CNHP has an enormous impact on conservation in Colorado through these partnerships.
            </p>


            <div class="section_header">Colorado State Forest Service (CSFS)</div>
            <div style="text-align: center;">
                <a href="https://csfs.colostate.edu/">
                    <img src="image5.png" width="200" />
                </a>
            </div>
            <p>
                The mission of the Colorado State Forest Service (CSFS) is to achieve stewardship of Colorado’s diverse forest environments for the benefit of present and future generations.
            </p>
            <p>
                Established in 1955, the CSFS is a service and outreach agency of the Warner College of Natural Resources with approximately 100 (full-time and part-time); more than 70 seasonal employees; and 19 field offices throughout the state.
            </p>

            <div class="section_header">Colorado State University Extension</div>
            <div style="background-color: white; text-align: center;">
                <a href="http://extension.colostate.edu/">
                    <img src="image8.png" width="200" />
                </a>
            </div>
            <p>
                The Mission of Extension is “to provide information and education, and encourage the application of research-based knowledge in response to local, state, and national issues affecting individuals, youth, families, agricultural enterprises, and communities of Colorado.”
            </p>
            <p>
                For over 100 years, Extension has helped people in Colorado find the answers they need—for a healthy home life and successful business in areas including Natural Resources, Livestock and Range, 4-H, Family and Financial Stability, Energy, Community Development, Food Systems, Cropping Systems, Environmental Horticulture, and Nutrition, Food Safety, and Health.
            </p>
            <p>
                Extension’s job is to determine what issues, concerns and needs are unique to each community, and offer sound and effective solutions. We’re a trusted source of information and resources in each community because our offices are located in all but two counties in Colorado.
            </p>

            <div class="section_header">Center for Environmental Management of Military Lands (CEMML)</div>
            <div style="background-color: white; text-align: center;">
                <a href="https://www.cemml.colostate.edu/">
                    <img src="image7.png" width="200" />
                </a>
            </div>
            <p>
                The Center for the Environmental Management of Military Lands (CEMML) is a service, education, and research unit in Colorado State University’s Warner College of Natural Resources. We have supported military readiness and resource conservation for more than three decades. Our experience and the resources of CSU allow us to tailor and apply innovative, practical methods to meet the needs of diverse managers of public lands.
            </p>

            <p>
                Our resource management and planning, research, education, and outreach efforts inform military and other federal managers as they meet their dual mandates of using and conserving public-trust resources.
            </p>

            <div class="section_header">Colorado Forest Restoration Institute (CFRI)</div>
            <div style="text-align: center;">
                <a href="https://cfri.colostate.edu/">
                    <img src="image2.jpg" width="200" />
                </a>
            </div>
            <p>
                The Colorado Forest Restoration Institute is a research-based organization at Colorado State University. We advance scientific knowledge that guides management efforts aiming to restore and enhance the resilience of forest ecosystems in Colorado, the Southern Rocky Mountains, and the Intermountain West.
            </p>

            <p>
                We work with public and private partners to develop, compile, synthesize, and apply science-based knowledge to restore valuable forest ecosystem services and improve forest resilience. We derive research through collaborative learning and build networks across landscapes and boundaries. Our expertise offers locally-relevant, science-based information to federal agencies, private organizations, and other community groups that are actively restoring forested lands.
            </p>

            <div class="section_header">CSU Extension Native Plant Master (NPM)</div>
            <div style="text-align: center;">
                <a href="http://conativeplantmaster.colostate.edu/">
                    <img src="image9.png" width="150" />
                </a>
            </div>
            <p>
                The mission of the NPM Program is to educate the public about native plants in order to foster stewardship, sustainable landscaping, and management of weeds that threaten native ecosystems.
            </p>
            <p>
                Participants learn their native, local plants through field visits where plants are identified. Students can become volunteers for CSU Extension by sharing what they’ve learned with others.  If the volunteers meet requirements, they become certified Native Plant Masters and may eventually become trainers for the NPM program.
            </p>

            <div class="section_header">North Central Climate Science Center (NCCSC)</div>
            <div style="background-color: white; text-align: center;">
                <a href="http://nccsc.colostate.edu/">
                    <img src="image1.png" width="200" />
                </a>
            </div>
            <p>
                The North Central Climate Science Center (NCCSC) is one of eight regional climate centers created by the US Department of Interior to help meet the changing needs of land and resource managers across the US. The Center brings together the latest data, tools, and knowledge on the impacts of climate change, and works directly with resource managers to promote climate-informed conservation and provides researchers an opportunity to work with an engaged and proactive applied management community.
            </p>

            <div class="section_header">Forest and Rangeland Stewardship (FRS)</div>
            <div style="text-align: center;">
                <a href="https://warnercnr.colostate.edu/frs/">
                    <img src="image3.jpg" width="200" />
                </a>
            </div>
            <p>
                Our professional programs in forest, rangeland and natural resources stewardship, through collaboration with other programs in our college and university, produce graduates who are prepared to meet the challenges facing future land managers. Our research, extension and outreach programs generate and communicate knowledge to students, managers, policy makers, peers, and the public and establish us as a preeminent authority in forest, rangeland, and natural resources stewardship.
            </p>

        </div>
</body>
</html>