<!DOCTYPE html>

<style>
    body {
        color: white;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(30, 77, 43, .5);
    }

    h1 {
        font-size: 1em;
    }

    #header {
        text-align: center;
    }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1><strong>Resources</strong></h1>
        </div>
    </div>
</body>
</html>