<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="4.2.7" targetFramework="monoandroid70" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="monoandroid90" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid70" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="monoandroid71" />
  <package id="SQLiteNetExtensions" version="2.0.0" targetFramework="monoandroid90" />
  <package id="SQLiteNetExtensions.Async" version="2.0.0" targetFramework="monoandroid90" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid90" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Connectivity" version="3.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.FFImageLoading" version="2.2.20" targetFramework="monoandroid71" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.20" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="monoandroid71" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="monoandroid70" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="monoandroid70" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="monoandroid70" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="monoandroid70" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="monoandroid70" />
</packages>